* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}

@font-face {
    font-family: "Nova Mono";
    src: url(./Fonts/Nova_Mono/NovaMono-Regular.ttf) format(truetype);
}

@font-face {
    font-family: "Josefin Sans";
    src: url(./Fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf) format(truetype);
}

body {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(30deg, rgb(255, 255, 255), rgb(72, 239, 222) 10%, rgb(53, 181, 168) 45%, rgb(53, 181, 168) 55%, rgb(72, 239, 222) 90%, rgb(255, 255, 255) 100%);
    background-repeat: no-repeat;
}

header {
    width: auto;
    height: 150px;
    padding: 10px;
    background: linear-gradient(180deg, rgb(255, 255, 255), rgb(222, 222, 222));
    box-shadow: 5px 5px 5px rgba(30, 30, 30, 0.9);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 6rem;
    display: inline-block;
    color: rgb(30, 30, 30);
}

h1 span {
    font-family: "Nova Mono", sans-serif;
    font-size: 10rem;
    color: rgb(43, 144, 134);
    text-shadow: 3px 3px 3px rgba(30, 30, 30, 0.9);
}

header button {
    height: 60px;
    width: 260px;
    margin-right: 65px;
    background-color: rgb(255, 255, 255);
    border: 5px solid rgb(43, 144, 134);
    border-top: 5px solid rgb(53, 181, 168);
    border-left: 5px solid rgb(53, 181, 168);
    border-radius: 0;
    font-family: "Josefin Sans";
    font-size: 2.5rem;
    font-weight: bold;
    color: rgb(30, 30, 30);
    text-align: center;
    vertical-align: middle;
}

header button:hover {
    border: 5px solid rgb(53, 181, 168);
    border-top: 5px solid rgb(72, 239, 222);
    border-left: 5px solid rgb(72, 239, 222);
}

#budget-placeholder {
    border: 1px solid yellow;
    display: block;
}

#toolbar {
    border: 1px solid green;
    display: none;
}

#edit-window {
    border: 1px solid red;
    display: none;
}

#budget-container {
    border: 1px solid black;
    display: none;
}

.category {
    border: 1px solid orange;
}

.subcategory {
    border: 1px solid purple;
}