* {
    margin: 0;
    padding: 0;
}

header {
    border: 1px solid blue;
}

#budget-placeholder {
    border: 1px solid yellow;
    display: block;
}

#toolbar {
    border: 1px solid green;
    display: none;
}

#edit-window {
    border: 1px solid red;
    display: none;
}

#budget-container {
    border: 1px solid black;
    display: none;
}

.category {
    border: 1px solid orange;
}

.subcategory {
    border: 1px solid purple;
}